* {
    margin: 0;
    padding: 0;
}
html {
  background-image: url("./blueabstact4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
header{
    height: 125px;
  }
footer {
  height: 50px;
}

#PageTitle {
  font-family: Impact, sans-serif;
  font-size: 50px;
  margin-left: 20px;
  color: gray;
}

#Person {
  float: right;
  font-family: Impact, sans-serif;
  font-size: 35px;
  margin-left: 20px;
  color: gray;
}

#BodBlock {
  width: 80%;
  height: 700px;
  margin-left: 100px;
  border-left:  dotted gray;
  border-width: 7px;
  position: relative;
  
}

/*  THIS IS THE START OF THE VERTICAL NAV */
nav {
    
    width: 170px;
    height: 650px;
    position: absolute;
    margin-top: 50px;
    left: 30px;
    z-index: 10;
    margin-top: 90px;
  }
  h3 {
    float: left;
    margin-top: 30px;
    margin-left: 8px;
  }

  .OpenItemCount, .ClaimedItemsCount, .ThisWeekItemCount, 
  .OnHoldItemCount, .ClosedItemCount {
    float: right;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: -15px;
    border: thin solid;
    border-radius: 20px;
    background-color: gray;
    color: white;
    font: bold 17px/13px Helvetica, Verdana, Tahoma;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }

.ButtonActive , .BtnNonActive {
  margin-top: 12px;
  width: 170px;
  height: 80px;
  border: thin solid;
  border-radius: 12px;
  background-position: center;
  background-size: 183px 85px;
  
  
}
.ButtonActive {
  background-image: url("./buttonBase.png");
}

.BtnNonActive {
  background-image: url("./ButtonInactive.png");
}

/*button animation*/
.BtnNonActive:hover , .ButtonActive:hover   {
  transition: transform .2s;
  transform: scale(1.08);
  box-shadow: 0 8px 6px -6px black;
  
}

.BtnNonActive:active , .ButtonActive:active {
    transform: translateY(4px);
    
}


/*  THIS IS THE END OF THE VERTICAL NAV */
/*  THIS IS THE START OF THE BODYBLOCK */

.openTableCap {
font-size: 30px;
color: #d1b63b;
}

.SelectedTable {
  margin-left:140px;
  margin-top: 70px;
  width: 680px;
  display: block;
  height: 50px;
  width: 50px;
  
}


.HiddenTable {
  margin-left:140px;
  margin-top: 70px;
  width: 680px;
  display: none; 

}

/*  THIS IS THE START OF TABLES */
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #f2f2f2;
  border-collapse: collapse;
  
  
}

th {
  padding: 6px;
  text-align: center;
  }

TData {
  transition: transform .2s;
}


tbody td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  box-shadow:inset 0 0 10px #000000;
}

tbody tr:nth-child(odd){
  background-color: darkgray;
  
}

.SelectedTable tr:nth-child(even){
  background-color: #006495;
}

.SelectedTable .TData:hover {
  background-color: orange;
  transform: scale(1.10);
  margin-top: 3px;
  margin-bottom: 3px;
  box-shadow: 0 8px 6px -6px black;
}
/*  THIS IS THE END OF THE BODYBLOCK */