* {
    margin: 0;
    padding: 0;
}
html {
  background-image: url("./blueabstact4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
header{
    height: 175px;
}
#PageTitle {
  font-family: Impact, sans-serif;
  font-size: 50px;
  margin-left: 20px;
  color: gray;
}

#BodBlock {
  width: 80%;
  height: 700px;
  margin-left: 100px;
  border-left:  dotted gray;
  border-width: 7px;
  position: relative;
  
}

/*  THIS IS THE START OF THE VERTICAL NAV */
nav {
    
    width: 170px;
    height: 650px;
    position: absolute;
    margin-top: 50px;
    left: 30px;
    z-index: 10;
    
}
 
nav div {
    position: relative;
    border-radius: 10px;
    width: 150px;
    height: 70px;
    text-align: left;
    vertical-align: middle;
    line-height: 70px;
    margin-top: 30px;
    color: white;
    box-shadow: 0px 6px 5px darkgray, 0px 3px 15px rgba(0,0,5,.4);
    background-image: url("./ButtonInactive.png");
    background-size: 170px 80px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    
    }
    
    

    .OpenItemCount {
      position: absolute; 
      border: thin solid;
      border-radius: 20px;
      padding: 6px;
      top: 48px;
      left: 135px;
      background-color: white;
      background-blend-mode: color-dodge;
      z-index: 20;
    }

    .ClaimedItemsCount {
        position: absolute; 
        border: thin solid;
        border-radius: 20px;
        padding: 6px;
        top: 148px;
        left: 135px;
        background-color: white;
        z-index: 20;
      }

      .ThisWeekItemCount {
        position: absolute; 
        border: thin solid;
        border-radius: 20px;
        padding: 6px;
        top: 248px;
        left: 135px;
        background-color: white;
        z-index: 20;
      }

      .OnHoldItemCount {
        position: absolute; 
        border: thin solid;
        border-radius: 20px;
        padding: 6px;
        top: 348px;
        left: 135px;
        background-color: white;
        z-index: 20;
      }

      .ClosedItemCount {
        position: absolute; 
        border: thin solid;
        border-radius: 20px;
        padding: 6px;
        top: 448px;
        left: 135px;
        background-color: white;
        z-index: 20;
      }
/*button animation*/
.BtnNonActive:hover , .ButtonActive:hover   {
  transition: transform .2s;
  transform: scale(1.08);
  
}

.BtnNonActive:active , .ButtonActive:active {
    transform: translateY(4px);
    
}

.ButtonActive {
  background-image: url("./buttonBase.png");
}


/*  THIS IS THE END OF THE VERTICAL NAV */
/*  THIS IS THE START OF THE BODYBLOCK */


#CurrentSelect {
   
    border-radius: 8px;
    width: 230px;
    height: 90px;
    margin-left: 130px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    box-shadow: 0px 6px 5px darkgray, 0px 3px 15px rgba(0,0,5,.4);
    background-image: url("./buttonBase.png");
    background-size: 410px 180px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 120px 70px 120px;
     
}




#SelectTable {
 
  margin-left:120px;
  margin-top: 100px;
  width: 680px;
  
}

/*  THIS IS THE START OF TABLES */
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  color: #f2f2f2;
  border-collapse: collapse;
  
  
}

th {
  padding: 8px;
  text-align: center;
  }



tbody td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  
  box-shadow:inset 0 0 10px #000000;
  
}

tbody tr:nth-child(odd){
  background-color: darkgray;
  
}

#SelectTable tr:nth-child(even){
 
  background-color: #006495;
}

.TData:hover {
transition: transform .8s;
transform: scale(1.08);
}
/*  THIS IS THE END OF THE BODYBLOCK */